<h1><center>Análisis de Datos Práctico Utilizando Python</center></h1>
<h3><center>Control 1 - IMA539.</center></h3>
<center>W. Gómez, C. Calfucoy, J. Ruíz</center>
<center>Departamento de Ingeniería Matemática</center>
<center>Septiembre 2, 2024.</center>

In [16]:
Matricula = "21073339621"
print(f'Mi número de matrícula es:\t {Matricula}')
print(f'Mi semilla en este control es:\t {sum(int(x) for x in Matricula)}')

Mi número de matrícula es:	 21073339621
Mi semilla en este control es:	 37

# Preguntas

1. (0.2 puntos) Cargue el archivo `Base_de_datos_control_1.csv` en un DataFrame utilizando Pandas.
2. (0.7 puntos) Separe en `X` las variables numéricas, y en `y` la columna de clases.
3. (0.5 puntos) Indique cuántas clases distintas tiene la Base de Datos y muestre el número de datos por cada clase.
4. (1.2 puntos) Reduzca los datos de `X` e `y` de modo que se consideren solo las dos variables explicativas `Source Port` y `Destination Port` y solo las dos clases mayoritarias (con mayor cantidad de observaciones). 
5. (0.3 puntos) Realice un escalamiento de las dos variables consideradas en `X`.
6. (0.7 puntos) Cree aleatoriamente un subconjunto de entrenamiento utilizando el 70% de los datos y deje el restante 30% como subconjunto de testeo. Utilice para la creación de los conjuntos la semilla asignada.
7. (1.2 puntos) Entrene los modelos de clasificación `Perceptron` y `Regresión Logistica` implementados en sklearn  en base al subconjunto de entrenamiento.
8. (1.2 puntos) Utilice los dos modelos entrenados  para predecir sobre el subconjunto de testeo e indique para cada modelo la proporción de datos de testeo correctamente clasificados.

# Respuestas (utilice una celda de Python para cada pregunta)

In [17]:
# Respuesta Pregunta 1
import pandas as pd
df=pd.read_csv("Base_de_datos_control_1.csv")
df.describe(include="all")

,Source Port,Destination Port,NAT Source Port,NAT Destination Port,Action,Bytes,Bytes Sent,Bytes Received,Packets,Elapsed Time (sec),pkts_sent,pkts_received
count,65478.000000,65478.000000,65478.000000,65478.000000,65478,6.547800e+04,6.547800e+04,6.547800e+04,6.547800e+04,65478.000000,65478.000000,65478.000000
unique,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,allow,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,37640,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,49410.665017,10565.588457,19293.371728,2672.631663,NaN,9.720392e+04,2.240414e+04,7.479978e+04,1.029495e+02,65.887764,41.432481,61.517013
std,15239.127800,18461.540743,21972.486113,9742.937646,NaN,5.620755e+06,3.829717e+06,2.464222e+06,5.135118e+03,302.580571,3220.198139,2224.248197
min,0.000000,0.000000,0.000000,0.000000,NaN,6.000000e+01,6.000000e+01,0.000000e+00,1.000000e+00,0.000000,1.000000,0.000000
25%,49191.250000,80.000000,0.000000,0.000000,NaN,6.600000e+01,6.600000e+01,0.000000e+00,1.000000e+00,0.000000,1.000000,0.000000
50%,53781.500000,445.000000,8851.500000,53.000000,NaN,1.680000e+02,9.000000e+01,7.900000e+01,2.000000e+00,15.000000,1.000000,1.000000
75%,58638.000000,14880.000000,38385.500000,443.000000,NaN,7.530000e+02,2.100000e+02,4.490000e+02,6.000000e+00,30.000000,3.000000,2.000000
max,65534.000000,65535.000000,65535.000000,65535.000000,NaN,1.269359e+09,9.484772e+08,3.208818e+08,1.036116e+06,10824.000000,747520.000000,327208.000000

In [18]:
# Respuesta Pregunta 2
df.info()
X=df.drop(columns=["Action"]).copy()
y = df.iloc[:,4]
df.head(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65478 entries, 0 to 65477
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Source Port           65478 non-null  int64
 1   Destination Port      65478 non-null  int64
 2   NAT Source Port       65478 non-null  int64
 3   NAT Destination Port  65478 non-null  int64
 4   Action                65478 non-null  object
 5   Bytes                 65478 non-null  int64
 6   Bytes Sent            65478 non-null  int64
 7   Bytes Received        65478 non-null  int64
 8   Packets               65478 non-null  int64
 9   Elapsed Time (sec)    65478 non-null  int64
 10  pkts_sent             65478 non-null  int64
 11  pkts_received         65478 non-null  int64
dtypes: int64(11), object(1)
memory usage: 6.0+ MB

,Source Port,Destination Port,NAT Source Port,NAT Destination Port,Action,Bytes,Bytes Sent,Bytes Received,Packets,Elapsed Time (sec),pkts_sent,pkts_received
0,57222,53,54587,53,allow,177,94,83,2,30,1,1
1,56258,3389,56258,3389,allow,4768,1600,3168,19,17,10,9
2,6881,50321,43265,50321,allow,238,118,120,2,1199,1,1
3,50553,3389,50553,3389,allow,3327,1438,1889,15,17,8,7

In [19]:
# Respuesta Pregunta 3
clases = y.nunique()
nro_clases = y.value_counts()

print(f"Número de clases distintas: {clases}")

print("Número de datos por cada clase:")

print(nro_clases)

Número de clases distintas: 3
Número de datos por cada clase:
allow    37640
deny     14987
drop     12851
Name: Action, dtype: int64

In [20]:
# Respuesta Pregunta 4
import matplotlib.pyplot as plt
import numpy as np
X.describe(include="all")
X=X.iloc[:,0:2]
X.describe()
y.unique()
y.loc[y == "allow"] = 0
y.loc[y == "drop"] = 1
y.loc[y == "deny"] = 2
y=y.astype(int)
y.describe()

C:\Users\newma\AppData\Local\Temp\ipykernel_9108\751257660.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y.loc[y == "allow"] = 0
C:\Users\newma\AppData\Local\Temp\ipykernel_9108\751257660.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y.loc[y == "drop"] = 1
C:\Users\newma\AppData\Local\Temp\ipykernel_9108\751257660.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y.loc[y == "deny"] = 2

count    65478.000000
mean         0.654036
std          0.827076
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          2.000000
Name: Action, dtype: float64

In [21]:
# Respuesta Pregunta 5
X_std = np.copy(X)
X_std[:, 0] = (X_std[:, 0] - X_std[:, 0].mean()) / X_std[:, 0].std()
X_std[:, 1] = (X_std[:, 1] - X_std[:, 1].mean()) / X_std[:, 1].std()

In [22]:
# Respuesta Pregunta 6
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_std, y, test_size=0.3, random_state=37, stratify=y)
print("Dimensiones de X_train:", X_train.shape)
print("Dimensiones de X_test:", X_test.shape)
print("Dimensiones de y_train:", y_train.shape)
print("Dimensiones de y_test:",y_test.shape)

Dimensiones de X_train: (45834, 2)
Dimensiones de X_test: (19644, 2)
Dimensiones de y_train: (45834,)
Dimensiones de y_test: (19644,)

In [23]:
# Respuesta Pregunta 7
from sklearn.linear_model import Perceptron
y_per = y_train.copy() 
y_per[(y == 1) | (y == 2)] = 0
y_per[y == 0] = 1
ppn_skl = Perceptron(max_iter=20, alpha=0.1, random_state=1, n_jobs=-1)
ppn_skl.fit(X_train, y_per)

Perceptron(alpha=0.1, max_iter=20, n_jobs=-1, random_state=1)

In [24]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(C=1.0, random_state=1)
lr.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [25]:
# Respuesta Pregunta 8